.bash_history
.bash_logout
.bashrc
.cache/
.cargo/
.config/
.gitconfig
.local/
.npm/
.nvm/
.pki/
.profile
.pyenv/
.rustup/
.ssh/
.sudo_as_admin_successful
.viminfo
R_libs/
attachments/
cdc_wonder_api_info.txt
full_outputs/
screenshots/
shiny_app/
snap/
wonder_request.xml
